In [1]:
import numpy as np
import pandas as pd

In [4]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [18]:
names=['a','b','c','d','message']

In [20]:
pd.read_csv('examples/ex2.csv',header=None,names=names)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [28]:
pd.read_csv('examples/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [22]:
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [30]:
pd.read_csv('examples/csv_mindex.csv',index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [31]:
!cat examples/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [33]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [35]:
result = pd.read_csv('examples/ex3.txt',sep=r'\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [36]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [56]:
sentinels = {'message':['foo','NA'],'something':['two'],'c':[3,'NA']}
sentinels

{'message': ['foo', 'NA'], 'something': ['two'], 'c': [3, 'NA']}

In [57]:
pd.read_csv('examples/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   NaN   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN