In [1]:
import numpy as np
import pandas as pd

In [18]:
import os

In [19]:
e_path = '/nfsc/123321/notebook'

In [21]:
_e = os.path.join(e_path,'user/jovyan')
_e

'/nfsc/123321/notebook/user/jovyan'

In [22]:
pd.options.display.max_rows = 10

In [23]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [48]:
chunker = pd.read_csv('examples/ex6.csv',chunksize=1000)

In [49]:
batch = chunker.get_chunk(size=100)

In [51]:
batch

         one       two     three      four key
0   0.467976 -0.038649 -0.295344 -1.824726   L
1  -0.358893  1.404453  0.704965 -0.200638   B
2  -0.501840  0.659254 -0.421691 -0.057688   G
3   0.204886  1.074134  1.388361 -0.982404   R
4   0.354628 -0.133116  0.283763 -0.837063   Q
..       ...       ...       ...       ...  ..
95  1.106521  0.098153  0.789793  1.192693   T
96 -0.540543  1.782569  0.051931  0.463868   Q
97 -0.101980  0.981720  1.106990 -1.752269   M
98  0.632107 -0.761419  1.427930 -0.046928   F
99  1.009779 -0.608379 -1.405105 -1.175054   F

[100 rows x 5 columns]

In [31]:
tot = pd.Series([])
for p in chunker:
    tot = tot.add(p['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)

In [37]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

In [67]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [70]:
import csv
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [72]:
header, values = lines[0],lines[1:]

In [73]:
data_dict = {h:v for h,v in zip(header,zip(*values))}

In [74]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [75]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [76]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9