In [1]:
import numpy as np
import pandas as pd
import import_ipynb
from utils import show, reverseDict
from numpy import nan as NA

importing Jupyter notebook from utils.ipynb

In [2]:
pd.options.display.max_rows = 10

In [3]:
df = pd.DataFrame(np.random.randn(6,3))

In [4]:
df.iloc[2:,1] = NA

In [5]:
df.iloc[4:,2] = NA

In [6]:
show(df)

<class 'pandas.core.frame.DataFrame'>
--------------------
          0         1         2
0 -0.724698 -1.038067  2.008205
1  1.471727 -0.591838  2.667098
2 -0.172467       NaN  0.622442
3 -0.262860       NaN  0.463890
4  0.253348       NaN       NaN
5 -1.600079       NaN       NaN

In [7]:
df.fillna(method='ffill',limit=2)

          0         1         2
0 -0.724698 -1.038067  2.008205
1  1.471727 -0.591838  2.667098
2 -0.172467 -0.591838  0.622442
3 -0.262860 -0.591838  0.463890
4  0.253348       NaN  0.463890
5 -1.600079       NaN  0.463890

In [8]:
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami','corned beef',
                             'Bacon','pastrami','honey ham', 'nova lox'],
                     'ounces': [4,3,12,6,7.5,8,3,5,6]})

In [9]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [10]:
meat_to_animal = {'pig':['pulled pork','bacon','honey ham'],
                  'cow': ['pastrami', 'corned beef'],
                  'salmon':['nova lox']}

In [11]:
reversed_meat_to_animal = reverseDict(meat_to_animal)

In [12]:
data['animal'] = data['food'].map(lambda x: reversed_meat_to_animal[x.lower()])
show(data)

<class 'pandas.core.frame.DataFrame'>
--------------------
          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [13]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]
bins = [18,25,35,60,100]

In [14]:
cats = pd.cut(ages,bins) #right=False 
show(cats)

<class 'pandas.core.arrays.categorical.Categorical'>
--------------------
[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [15]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [16]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [17]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [19]:
data = np.random.randn(1000)
cats = pd.qcut(data,[0,0.1,0.5,0.9,1])

In [21]:
cats.value_counts()

(-2.816, -1.284]    100
(-1.284, 0.0378]    400
(0.0378, 1.283]     400
(1.283, 2.878]      100
dtype: int64