In [1]:
import pandas as pd
import numpy as np
import import_ipynb
from utils import show

importing Jupyter notebook from utils.ipynb

In [2]:
data = pd.Series(np.random.randn(9),
                 index=[['a','a','a','b','b','c','c','d','d'],
                        [1,2,3,1,3,1,2,2,3]])
data

a  1    1.316616
   2   -0.223570
   3    1.000450
b  1   -1.124209
   3    0.481415
c  1    0.714030
   2   -0.965245
d  2   -0.601256
   3   -1.398381
dtype: float64

In [4]:
data['b':'c']

b  1   -1.124209
   3    0.481415
c  1    0.714030
   2   -0.965245
dtype: float64

In [7]:
data.unstack().stack()

a  1    1.316616
   2   -0.223570
   3    1.000450
b  1   -1.124209
   3    0.481415
c  1    0.714030
   2   -0.965245
d  2   -0.601256
   3   -1.398381
dtype: float64

In [8]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=[['a','a','b','b'],[1,2,1,2]],
                     columns=[['Ohio','Ohio','Colorado'],
                              ['Green','Red','Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [12]:
frame.index.names = ['key1','key2']
frame.columns.names = ['state','color']

frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [13]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16