In [36]:
import numpy as np
import pandas as pd
import import_ipynb
from utils import show

pd.options.display.max_rows = 8

In [2]:
data = pd.DataFrame(np.random.randn(1000,4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.017892    -0.005200    -0.030340    -0.031788
std       0.980933     0.985802     1.001033     1.012891
min      -3.719755    -3.022372    -3.174387    -3.128869
25%      -0.635467    -0.682069    -0.734340    -0.707342
50%      -0.034642     0.014105    -0.009733    -0.033624
75%       0.646918     0.656186     0.638219     0.626777
max       3.202007     3.070796     3.320664     3.298676

In [3]:
data[2][np.abs(data[2])>3]

167   -3.174387
399    3.038941
602    3.320664
684   -3.170671
Name: 2, dtype: float64

In [17]:
data[np.abs(data>3).any(1)]

            0         1         2         3
99   3.202007  0.681881 -0.600312  0.039828
383  0.459163 -1.811085 -0.441168  3.223359
399  1.439594  0.317487  3.038941  0.246632
602 -1.566905  0.118635  3.320664 -1.884614
874 -0.555799  3.070796 -0.643394  1.682621
875 -1.411707  1.757743  0.401091  3.298676

In [19]:
data = pd.DataFrame(np.arange(20).reshape(5,4))
show(data)

<class 'pandas.core.frame.DataFrame'>
--------------------
    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [21]:
data.sample(10,replace=True)

    0   1   2   3
4  16  17  18  19
4  16  17  18  19
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19
4  16  17  18  19
0   0   1   2   3
4  16  17  18  19
0   0   1   2   3
2   8   9  10  11

In [23]:
!head datasets/movielens/movies.dat

1::Toy Story (1995)::Animation|Children's|Comedy
2::Jumanji (1995)::Adventure|Children's|Fantasy
3::Grumpier Old Men (1995)::Comedy|Romance
4::Waiting to Exhale (1995)::Comedy|Drama
5::Father of the Bride Part II (1995)::Comedy
6::Heat (1995)::Action|Crime|Thriller
7::Sabrina (1995)::Comedy|Romance
8::Tom and Huck (1995)::Adventure|Children's
9::Sudden Death (1995)::Action
10::GoldenEye (1995)::Action|Adventure|Thriller

In [24]:
mnames = ['movie_id','title','genres']

In [29]:
movies = pd.read_csv('datasets/movielens/movies.dat',sep='::',header=None,names=mnames,engine='python')
show(movies)

<class 'pandas.core.frame.DataFrame'>
--------------------
      movie_id                                              title  \
0            1                                   Toy Story (1995)
1            2                                     Jumanji (1995)
2            3                            Grumpier Old Men (1995)
3            4                           Waiting to Exhale (1995)
4            5                 Father of the Bride Part II (1995)
5            6                                        Heat (1995)
6            7                                     Sabrina (1995)
7            8                                Tom and Huck (1995)
8            9                                Sudden Death (1995)
9           10                                   GoldenEye (1995)
10          11                     American President, The (1995)
11          12                 Dracula: Dead and Loving It (1995)
12          13                                       Balto (1995)
13          14                                       Nixon (1995)
14          15                            Cutthroat Island (1995)
15          16                                      Casino (1995)
16          17                       Sense and Sensibility (1995)
17          18                                  Four Rooms (1995)
18          19              Ace Ventura: When Nature Calls (1995)
19          20                                 Money Train (1995)
20          21                                  Get Shorty (1995)
21          22                                     Copycat (1995)
22          23                                   Assassins (1995)
23          24                                      Powder (1995)
24          25                           Leaving Las Vegas (1995)
25          26                                     Othello (1995)
26          27                                Now and Then (1995)
27          28                                  Persuasion (1995)
28          29                  City of Lost Children, The (1995)
29          30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...        ...                                                ...
3853      3923                           Return of the Fly (1959)
3854      3924                                Pajama Party (1964)
3855      3925                      Stranger Than Paradise (1984)
3856      3926             Voyage to the Bottom of the Sea (1961)
3857      3927                            Fantastic Voyage (1966)
3858      3928       Abbott and Costello Meet Frankenstein (1948)
3859      3929                              Bank Dick, The (1940)
3860      3930         Creature From the Black Lagoon, The (1954)
3861      3931                     Giant Gila Monster, The (1959)
3862      3932                          Invisible Man, The (1933)
3863      3933                          Killer Shrews, The (1959)
3864      3934                                      Kronos (1957)
3865      3935                                      Kronos (1973)
3866      3936                   Phantom of the Opera, The (1943)
3867      3937                                     Runaway (1984)
3868      3938                 Slumber Party Massacre, The (1982)
3869      3939              Slumber Party Massacre II, The (1987)
3870      3940             Slumber Party Massacre III, The (1990)
3871      3941                     Sorority House Massacre (1986)
3872      3942                  Sorority House Massacre II (1990)
3873      3943                                  Bamboozled (2000)
3874      3944                                     Bootmen (2000)
3875      3945                          Digimon: The Movie (2000)
3876      3946                                  Get Carter (2000)
3877      3947                                  Get Carter (1971)
3878      3948                            Meet the Parents (2000)
3879      3949                         Requiem for a Dream (2000)
3880      3950                                   Tigerland (2000)
3881      3951                            Two Family House (2000)
3882      3952                              Contender, The (2000)

                              genres
0        Animation|Children's|Comedy
1       Adventure|Children's|Fantasy
2                     Comedy|Romance
3                       Comedy|Drama
4                             Comedy
5              Action|Crime|Thriller
6                     Comedy|Romance
7               Adventure|Children's
8                             Action
9          Action|Adventure|Thriller
10              Comedy|Drama|Romance
11                     Comedy|Horror
12              Animation|Children's
13                             Drama
14          Action|Adventure|Romance
15                    Drama|Thriller
16                     Drama|Romance
17                          Thriller
18                            Comedy
19                            Action
20               Action|Comedy|Drama
21              Crime|Drama|Thriller
22                          Thriller
23                      Drama|Sci-Fi
24                     Drama|Romance
25                             Drama
26                             Drama
27                           Romance
28                  Adventure|Sci-Fi
29                             Drama
...                              ...
3853                   Horror|Sci-Fi
3854                          Comedy
3855                          Comedy
3856                Adventure|Sci-Fi
3857                Adventure|Sci-Fi
3858                   Comedy|Horror
3859                          Comedy
3860                          Horror
3861                   Horror|Sci-Fi
3862                   Horror|Sci-Fi
3863                   Horror|Sci-Fi
3864                          Sci-Fi
3865                          Horror
3866                  Drama|Thriller
3867                 Sci-Fi|Thriller
3868                          Horror
3869                          Horror
3870                          Horror
3871                          Horror
3872                          Horror
3873                          Comedy
3874                    Comedy|Drama
3875  Adventure|Animation|Children's
3876           Action|Drama|Thriller
3877                        Thriller
3878                          Comedy
3879                           Drama
3880                           Drama
3881                           Drama
3882                  Drama|Thriller

[3883 rows x 3 columns]

In [30]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
show(genres)

<class 'numpy.ndarray'>
--------------------
['Animation' "Children's" 'Comedy' 'Adventure' 'Fantasy' 'Romance' 'Drama'
 'Action' 'Crime' 'Thriller' 'Horror' 'Sci-Fi' 'Documentary' 'War'
 'Musical' 'Mystery' 'Film-Noir' 'Western']

In [38]:
zero_matrix = np.zeros((len(movies),len(genres)))
zero_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [39]:
dummies = pd.DataFrame(zero_matrix, columns=genres)
show(dummies)

<class 'pandas.core.frame.DataFrame'>
--------------------
      Animation  Children's  Comedy  Adventure  Fantasy  Romance  Drama  \
0           0.0         0.0     0.0        0.0      0.0      0.0    0.0
1           0.0         0.0     0.0        0.0      0.0      0.0    0.0
2           0.0         0.0     0.0        0.0      0.0      0.0    0.0
3           0.0         0.0     0.0        0.0      0.0      0.0    0.0
...         ...         ...     ...        ...      ...      ...    ...
3879        0.0         0.0     0.0        0.0      0.0      0.0    0.0
3880        0.0         0.0     0.0        0.0      0.0      0.0    0.0
3881        0.0         0.0     0.0        0.0      0.0      0.0    0.0
3882        0.0         0.0     0.0        0.0      0.0      0.0    0.0

      Action  Crime  Thriller  Horror  Sci-Fi  Documentary  War  Musical  \
0        0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
1        0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
2        0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
3        0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
...      ...    ...       ...     ...     ...          ...  ...      ...
3879     0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
3880     0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
3881     0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
3882     0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0

      Mystery  Film-Noir  Western
0         0.0        0.0      0.0
1         0.0        0.0      0.0
2         0.0        0.0      0.0
3         0.0        0.0      0.0
...       ...        ...      ...
3879      0.0        0.0      0.0
3880      0.0        0.0      0.0
3881      0.0        0.0      0.0
3882      0.0        0.0      0.0

[3883 rows x 18 columns]

In [40]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i,indices] = 1
show(dummies)

<class 'pandas.core.frame.DataFrame'>
--------------------
      Animation  Children's  Comedy  Adventure  Fantasy  Romance  Drama  \
0           1.0         1.0     1.0        0.0      0.0      0.0    0.0
1           0.0         1.0     0.0        1.0      1.0      0.0    0.0
2           0.0         0.0     1.0        0.0      0.0      1.0    0.0
3           0.0         0.0     1.0        0.0      0.0      0.0    1.0
...         ...         ...     ...        ...      ...      ...    ...
3879        0.0         0.0     0.0        0.0      0.0      0.0    1.0
3880        0.0         0.0     0.0        0.0      0.0      0.0    1.0
3881        0.0         0.0     0.0        0.0      0.0      0.0    1.0
3882        0.0         0.0     0.0        0.0      0.0      0.0    1.0

      Action  Crime  Thriller  Horror  Sci-Fi  Documentary  War  Musical  \
0        0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
1        0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
2        0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
3        0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
...      ...    ...       ...     ...     ...          ...  ...      ...
3879     0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
3880     0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
3881     0.0    0.0       0.0     0.0     0.0          0.0  0.0      0.0
3882     0.0    0.0       1.0     0.0     0.0          0.0  0.0      0.0

      Mystery  Film-Noir  Western
0         0.0        0.0      0.0
1         0.0        0.0      0.0
2         0.0        0.0      0.0
3         0.0        0.0      0.0
...       ...        ...      ...
3879      0.0        0.0      0.0
3880      0.0        0.0      0.0
3881      0.0        0.0      0.0
3882      0.0        0.0      0.0

[3883 rows x 18 columns]

In [41]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
show(movies_windic)

<class 'pandas.core.frame.DataFrame'>
--------------------
      movie_id                       title                        genres  \
0            1            Toy Story (1995)   Animation|Children's|Comedy
1            2              Jumanji (1995)  Adventure|Children's|Fantasy
2            3     Grumpier Old Men (1995)                Comedy|Romance
3            4    Waiting to Exhale (1995)                  Comedy|Drama
...        ...                         ...                           ...
3879      3949  Requiem for a Dream (2000)                         Drama
3880      3950            Tigerland (2000)                         Drama
3881      3951     Two Family House (2000)                         Drama
3882      3952       Contender, The (2000)                Drama|Thriller

      Genre_Animation  Genre_Children's  Genre_Comedy  Genre_Adventure  \
0                 1.0               1.0           1.0              0.0
1                 0.0               1.0           0.0              1.0
2                 0.0               0.0           1.0              0.0
3                 0.0               0.0           1.0              0.0
...               ...               ...           ...              ...
3879              0.0               0.0           0.0              0.0
3880              0.0               0.0           0.0              0.0
3881              0.0               0.0           0.0              0.0
3882              0.0               0.0           0.0              0.0

      Genre_Fantasy  Genre_Romance  Genre_Drama  ...  Genre_Crime  \
0               0.0            0.0          0.0  ...          0.0
1               1.0            0.0          0.0  ...          0.0
2               0.0            1.0          0.0  ...          0.0
3               0.0            0.0          1.0  ...          0.0
...             ...            ...          ...  ...          ...
3879            0.0            0.0          1.0  ...          0.0
3880            0.0            0.0          1.0  ...          0.0
3881            0.0            0.0          1.0  ...          0.0
3882            0.0            0.0          1.0  ...          0.0

      Genre_Thriller  Genre_Horror  Genre_Sci-Fi  Genre_Documentary  \
0                0.0           0.0           0.0                0.0
1                0.0           0.0           0.0                0.0
2                0.0           0.0           0.0                0.0
3                0.0           0.0           0.0                0.0
...              ...           ...           ...                ...
3879             0.0           0.0           0.0                0.0
3880             0.0           0.0           0.0                0.0
3881             0.0           0.0           0.0                0.0
3882             1.0           0.0           0.0                0.0

      Genre_War  Genre_Musical  Genre_Mystery  Genre_Film-Noir  Genre_Western
0           0.0            0.0            0.0              0.0            0.0
1           0.0            0.0            0.0              0.0            0.0
2           0.0            0.0            0.0              0.0            0.0
3           0.0            0.0            0.0              0.0            0.0
...         ...            ...            ...              ...            ...
3879        0.0            0.0            0.0              0.0            0.0
3880        0.0            0.0            0.0              0.0            0.0
3881        0.0            0.0            0.0              0.0            0.0
3882        0.0            0.0            0.0              0.0            0.0

[3883 rows x 21 columns]

In [42]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [43]:
bins = [0,0.2,0.4,0.6,0.8,1]

In [44]:
pd.cut(values,bins)

[(0.8, 1.0], (0.2, 0.4], (0.0, 0.2], (0.2, 0.4], (0.4, 0.6], (0.4, 0.6], (0.8, 1.0], (0.6, 0.8], (0.6, 0.8], (0.6, 0.8]]
Categories (5, interval[float64]): [(0.0, 0.2] < (0.2, 0.4] < (0.4, 0.6] < (0.6, 0.8] < (0.8, 1.0]]

In [46]:
pd.get_dummies(_)

    (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0            0           0           0           0           1
1            0           1           0           0           0
2            1           0           0           0           0
3            0           1           0           0           0
..         ...         ...         ...         ...         ...
6            0           0           0           0           1
7            0           0           0           1           0
8            0           0           0           1           0
9            0           0           0           1           0

[10 rows x 5 columns]