In [2]:
import pandas as pd
import numpy as np
import import_ipynb
from utils import show

importing Jupyter notebook from utils.ipynb

In [3]:
df1 = pd.DataFrame(np.random.randn(3,4),columns=list('abcd'))
df2 = pd.DataFrame(np.random.randn(2,3),columns=list('bda'))

In [7]:
pd.concat([df1,df2], ignore_index=False)

/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

          a         b         c         d
0  0.020770  1.390271  2.186685 -0.003342
1 -0.755563 -0.683252  0.584923 -0.409865
2 -2.435033  1.293078  1.032604 -0.601431
0 -2.256057 -1.165322       NaN -0.506075
1 -0.218784 -1.830285       NaN -1.429694

In [8]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
              index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64),
              index=['f', 'e', 'd', 'c', 'b', 'a'])

In [9]:
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [10]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    5.0
dtype: float64

In [11]:
np.where(pd.isnull(a),b,a)

array([0. , 2.5, 2. , 3.5, 4.5, 5. ])

In [13]:
a.combine_first(b)

f    0.0
e    2.5
d    2.0
c    3.5
b    4.5
a    5.0
dtype: float64

In [14]:
data = pd.read_csv('examples/macrodata.csv')
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [15]:
periods = pd.PeriodIndex(year=data.year, quarter=data.quarter, name='date')
show(periods)

<class 'pandas.core.indexes.period.PeriodIndex'>
--------------------
PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', name='date', length=203, freq='Q-DEC')

In [16]:
columns = pd.Index(['realgdp','infl','unemp'], name='item')
show(columns)

<class 'pandas.core.indexes.base.Index'>
--------------------
Index(['realgdp', 'infl', 'unemp'], dtype='object', name='item')

In [18]:
data = data.reindex(columns=columns)
show(data)

<class 'pandas.core.frame.DataFrame'>
--------------------
item    realgdp  infl  unemp
0      2710.349  0.00    5.8
1      2778.801  2.34    5.1
2      2775.488  2.74    5.3
3      2785.204  0.27    5.6
4      2847.699  2.31    5.2
5      2834.390  0.14    5.2
6      2839.022  2.70    5.6
7      2802.616  1.21    6.3
8      2819.264 -0.40    6.8
9      2872.005  1.47    7.0
10     2918.419  0.80    6.8
11     2977.830  0.80    6.2
12     3031.241  2.26    5.6
13     3064.709  0.13    5.5
14     3093.047  2.11    5.6
15     3100.563  0.79    5.5
16     3141.087  0.53    5.8
17     3180.447  2.75    5.7
18     3240.332  0.78    5.5
19     3264.967  2.46    5.6
20     3338.246  0.13    5.5
21     3376.587  0.90    5.2
22     3422.469  1.29    5.0
23     3431.957  2.05    5.0
24     3516.251  1.28    4.9
25     3563.960  2.54    4.7
26     3636.285  0.89    4.4
27     3724.014  2.90    4.1
28     3815.423  4.99    3.9
29     3828.124  2.10    3.8
..          ...   ...    ...
173   11538.770  1.56    5.8
174   11596.430  2.66    5.7
175   11598.824  3.08    5.8
176   11645.819  1.31    5.9
177   11738.706  1.09    6.2
178   11935.461  2.60    6.1
179   12042.817  3.02    5.8
180   12127.623  2.35    5.7
181   12213.818  3.61    5.6
182   12303.533  3.58    5.4
183   12410.282  2.09    5.4
184   12534.113  4.15    5.3
185   12587.535  1.85    5.1
186   12683.153  9.14    5.0
187   12748.699  0.40    4.9
188   12915.938  2.60    4.7
189   12962.462  3.97    4.7
190   12965.916 -1.58    4.7
191   13060.679  3.30    4.4
192   13099.901  4.58    4.5
193   13203.977  2.75    4.5
194   13321.109  3.45    4.7
195   13391.249  6.38    4.8
196   13366.865  2.82    4.9
197   13415.266  8.53    5.4
198   13324.600 -3.16    6.0
199   13141.920 -8.79    6.9
200   12925.410  0.94    8.1
201   12901.504  3.37    9.2
202   12990.341  3.56    9.6

[203 rows x 3 columns]

In [20]:
data.index = periods.to_timestamp('D','end')
show(data.head())
show(data.index)

<class 'pandas.core.frame.DataFrame'>
--------------------
item                            realgdp  infl  unemp
date
1959-03-31 23:59:59.999999999  2710.349  0.00    5.8
1959-06-30 23:59:59.999999999  2778.801  2.34    5.1
1959-09-30 23:59:59.999999999  2775.488  2.74    5.3
1959-12-31 23:59:59.999999999  2785.204  0.27    5.6
1960-03-31 23:59:59.999999999  2847.699  2.31    5.2
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
--------------------
DatetimeIndex(['1959-03-31 23:59:59.999999999',
               '1959-06-30 23:59:59.999999999',
               '1959-09-30 23:59:59.999999999',
               '1959-12-31 23:59:59.999999999',
               '1960-03-31 23:59:59.999999999',
               '1960-06-30 23:59:59.999999999',
               '1960-09-30 23:59:59.999999999',
               '1960-12-31 23:59:59.999999999',
               '1961-03-31 23:59:59.999999999',
               '1961-06-30 23:59:59.999999999',
               ...
               '2007-06-30 23:59:59.999999999',
               '2007-09-30 23:59:59.999999999',
               '2007-12-31 23:59:59.999999999',
               '2008-03-31 23:59:59.999999999',
               '2008-06-30 23:59:59.999999999',
               '2008-09-30 23:59:59.999999999',
               '2008-12-31 23:59:59.999999999',
               '2009-03-31 23:59:59.999999999',
               '2009-06-30 23:59:59.999999999',
               '2009-09-30 23:59:59.999999999'],
              dtype='datetime64[ns]', name='date', length=203, freq='Q-DEC')

In [26]:
data.stack().head()

date                           item
1959-03-31 23:59:59.999999999  realgdp    2710.349
                               infl          0.000
                               unemp         5.800
1959-06-30 23:59:59.999999999  realgdp    2778.801
                               infl          2.340
dtype: float64

In [31]:
_data = data.stack().reset_index().rename(columns={0:'value'})
_data

                             date     item      value
0   1959-03-31 23:59:59.999999999  realgdp   2710.349
1   1959-03-31 23:59:59.999999999     infl      0.000
2   1959-03-31 23:59:59.999999999    unemp      5.800
3   1959-06-30 23:59:59.999999999  realgdp   2778.801
4   1959-06-30 23:59:59.999999999     infl      2.340
5   1959-06-30 23:59:59.999999999    unemp      5.100
6   1959-09-30 23:59:59.999999999  realgdp   2775.488
7   1959-09-30 23:59:59.999999999     infl      2.740
8   1959-09-30 23:59:59.999999999    unemp      5.300
9   1959-12-31 23:59:59.999999999  realgdp   2785.204
10  1959-12-31 23:59:59.999999999     infl      0.270
11  1959-12-31 23:59:59.999999999    unemp      5.600
12  1960-03-31 23:59:59.999999999  realgdp   2847.699
13  1960-03-31 23:59:59.999999999     infl      2.310
14  1960-03-31 23:59:59.999999999    unemp      5.200
15  1960-06-30 23:59:59.999999999  realgdp   2834.390
16  1960-06-30 23:59:59.999999999     infl      0.140
17  1960-06-30 23:59:59.999999999    unemp      5.200
18  1960-09-30 23:59:59.999999999  realgdp   2839.022
19  1960-09-30 23:59:59.999999999     infl      2.700
20  1960-09-30 23:59:59.999999999    unemp      5.600
21  1960-12-31 23:59:59.999999999  realgdp   2802.616
22  1960-12-31 23:59:59.999999999     infl      1.210
23  1960-12-31 23:59:59.999999999    unemp      6.300
24  1961-03-31 23:59:59.999999999  realgdp   2819.264
25  1961-03-31 23:59:59.999999999     infl     -0.400
26  1961-03-31 23:59:59.999999999    unemp      6.800
27  1961-06-30 23:59:59.999999999  realgdp   2872.005
28  1961-06-30 23:59:59.999999999     infl      1.470
29  1961-06-30 23:59:59.999999999    unemp      7.000
..                            ...      ...        ...
579 2007-06-30 23:59:59.999999999  realgdp  13203.977
580 2007-06-30 23:59:59.999999999     infl      2.750
581 2007-06-30 23:59:59.999999999    unemp      4.500
582 2007-09-30 23:59:59.999999999  realgdp  13321.109
583 2007-09-30 23:59:59.999999999     infl      3.450
584 2007-09-30 23:59:59.999999999    unemp      4.700
585 2007-12-31 23:59:59.999999999  realgdp  13391.249
586 2007-12-31 23:59:59.999999999     infl      6.380
587 2007-12-31 23:59:59.999999999    unemp      4.800
588 2008-03-31 23:59:59.999999999  realgdp  13366.865
589 2008-03-31 23:59:59.999999999     infl      2.820
590 2008-03-31 23:59:59.999999999    unemp      4.900
591 2008-06-30 23:59:59.999999999  realgdp  13415.266
592 2008-06-30 23:59:59.999999999     infl      8.530
593 2008-06-30 23:59:59.999999999    unemp      5.400
594 2008-09-30 23:59:59.999999999  realgdp  13324.600
595 2008-09-30 23:59:59.999999999     infl     -3.160
596 2008-09-30 23:59:59.999999999    unemp      6.000
597 2008-12-31 23:59:59.999999999  realgdp  13141.920
598 2008-12-31 23:59:59.999999999     infl     -8.790
599 2008-12-31 23:59:59.999999999    unemp      6.900
600 2009-03-31 23:59:59.999999999  realgdp  12925.410
601 2009-03-31 23:59:59.999999999     infl      0.940
602 2009-03-31 23:59:59.999999999    unemp      8.100
603 2009-06-30 23:59:59.999999999  realgdp  12901.504
604 2009-06-30 23:59:59.999999999     infl      3.370
605 2009-06-30 23:59:59.999999999    unemp      9.200
606 2009-09-30 23:59:59.999999999  realgdp  12990.341
607 2009-09-30 23:59:59.999999999     infl      3.560
608 2009-09-30 23:59:59.999999999    unemp      9.600

[609 rows x 3 columns]

In [33]:
pivoted = _data.pivot('date','item','value')

In [34]:
pivoted

item                           infl    realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00   2710.349    5.8
1959-06-30 23:59:59.999999999  2.34   2778.801    5.1
1959-09-30 23:59:59.999999999  2.74   2775.488    5.3
1959-12-31 23:59:59.999999999  0.27   2785.204    5.6
1960-03-31 23:59:59.999999999  2.31   2847.699    5.2
1960-06-30 23:59:59.999999999  0.14   2834.390    5.2
1960-09-30 23:59:59.999999999  2.70   2839.022    5.6
1960-12-31 23:59:59.999999999  1.21   2802.616    6.3
1961-03-31 23:59:59.999999999 -0.40   2819.264    6.8
1961-06-30 23:59:59.999999999  1.47   2872.005    7.0
1961-09-30 23:59:59.999999999  0.80   2918.419    6.8
1961-12-31 23:59:59.999999999  0.80   2977.830    6.2
1962-03-31 23:59:59.999999999  2.26   3031.241    5.6
1962-06-30 23:59:59.999999999  0.13   3064.709    5.5
1962-09-30 23:59:59.999999999  2.11   3093.047    5.6
1962-12-31 23:59:59.999999999  0.79   3100.563    5.5
1963-03-31 23:59:59.999999999  0.53   3141.087    5.8
1963-06-30 23:59:59.999999999  2.75   3180.447    5.7
1963-09-30 23:59:59.999999999  0.78   3240.332    5.5
1963-12-31 23:59:59.999999999  2.46   3264.967    5.6
1964-03-31 23:59:59.999999999  0.13   3338.246    5.5
1964-06-30 23:59:59.999999999  0.90   3376.587    5.2
1964-09-30 23:59:59.999999999  1.29   3422.469    5.0
1964-12-31 23:59:59.999999999  2.05   3431.957    5.0
1965-03-31 23:59:59.999999999  1.28   3516.251    4.9
1965-06-30 23:59:59.999999999  2.54   3563.960    4.7
1965-09-30 23:59:59.999999999  0.89   3636.285    4.4
1965-12-31 23:59:59.999999999  2.90   3724.014    4.1
1966-03-31 23:59:59.999999999  4.99   3815.423    3.9
1966-06-30 23:59:59.999999999  2.10   3828.124    3.8
...                             ...        ...    ...
2002-06-30 23:59:59.999999999  1.56  11538.770    5.8
2002-09-30 23:59:59.999999999  2.66  11596.430    5.7
2002-12-31 23:59:59.999999999  3.08  11598.824    5.8
2003-03-31 23:59:59.999999999  1.31  11645.819    5.9
2003-06-30 23:59:59.999999999  1.09  11738.706    6.2
2003-09-30 23:59:59.999999999  2.60  11935.461    6.1
2003-12-31 23:59:59.999999999  3.02  12042.817    5.8
2004-03-31 23:59:59.999999999  2.35  12127.623    5.7
2004-06-30 23:59:59.999999999  3.61  12213.818    5.6
2004-09-30 23:59:59.999999999  3.58  12303.533    5.4
2004-12-31 23:59:59.999999999  2.09  12410.282    5.4
2005-03-31 23:59:59.999999999  4.15  12534.113    5.3
2005-06-30 23:59:59.999999999  1.85  12587.535    5.1
2005-09-30 23:59:59.999999999  9.14  12683.153    5.0
2005-12-31 23:59:59.999999999  0.40  12748.699    4.9
2006-03-31 23:59:59.999999999  2.60  12915.938    4.7
2006-06-30 23:59:59.999999999  3.97  12962.462    4.7
2006-09-30 23:59:59.999999999 -1.58  12965.916    4.7
2006-12-31 23:59:59.999999999  3.30  13060.679    4.4
2007-03-31 23:59:59.999999999  4.58  13099.901    4.5
2007-06-30 23:59:59.999999999  2.75  13203.977    4.5
2007-09-30 23:59:59.999999999  3.45  13321.109    4.7
2007-12-31 23:59:59.999999999  6.38  13391.249    4.8
2008-03-31 23:59:59.999999999  2.82  13366.865    4.9
2008-06-30 23:59:59.999999999  8.53  13415.266    5.4
2008-09-30 23:59:59.999999999 -3.16  13324.600    6.0
2008-12-31 23:59:59.999999999 -8.79  13141.920    6.9
2009-03-31 23:59:59.999999999  0.94  12925.410    8.1
2009-06-30 23:59:59.999999999  3.37  12901.504    9.2
2009-09-30 23:59:59.999999999  3.56  12990.341    9.6

[203 rows x 3 columns]

In [35]:
_data['value2'] = np.random.randn(len(_data))
_data.head()

                           date     item     value    value2
0 1959-03-31 23:59:59.999999999  realgdp  2710.349  1.600323
1 1959-03-31 23:59:59.999999999     infl     0.000  0.402876
2 1959-03-31 23:59:59.999999999    unemp     5.800 -0.056217
3 1959-06-30 23:59:59.999999999  realgdp  2778.801 -0.166095
4 1959-06-30 23:59:59.999999999     infl     2.340 -0.675171

In [41]:
_pivoted = _data.pivot('date','item')

In [42]:
_pivoted

                              value                     value2            \
item                           infl    realgdp unemp      infl   realgdp
date
1959-03-31 23:59:59.999999999  0.00   2710.349   5.8  0.402876  1.600323
1959-06-30 23:59:59.999999999  2.34   2778.801   5.1 -0.675171 -0.166095
1959-09-30 23:59:59.999999999  2.74   2775.488   5.3 -0.107117 -1.119352
1959-12-31 23:59:59.999999999  0.27   2785.204   5.6  0.816401 -0.514078
1960-03-31 23:59:59.999999999  2.31   2847.699   5.2 -0.857373  0.542121
1960-06-30 23:59:59.999999999  0.14   2834.390   5.2 -0.807455  0.122232
1960-09-30 23:59:59.999999999  2.70   2839.022   5.6  0.531097 -0.320824
1960-12-31 23:59:59.999999999  1.21   2802.616   6.3 -1.119714  0.438377
1961-03-31 23:59:59.999999999 -0.40   2819.264   6.8 -2.235035  0.777856
1961-06-30 23:59:59.999999999  1.47   2872.005   7.0  1.981024 -0.544282
1961-09-30 23:59:59.999999999  0.80   2918.419   6.8  0.781692  0.617027
1961-12-31 23:59:59.999999999  0.80   2977.830   6.2 -1.630180 -0.683519
1962-03-31 23:59:59.999999999  2.26   3031.241   5.6  0.392595  0.823376
1962-06-30 23:59:59.999999999  0.13   3064.709   5.5  0.449169 -0.943460
1962-09-30 23:59:59.999999999  2.11   3093.047   5.6 -1.160079 -1.074853
1962-12-31 23:59:59.999999999  0.79   3100.563   5.5 -1.050788 -0.192955
1963-03-31 23:59:59.999999999  0.53   3141.087   5.8 -1.115742  0.345132
1963-06-30 23:59:59.999999999  2.75   3180.447   5.7  0.529276 -0.413235
1963-09-30 23:59:59.999999999  0.78   3240.332   5.5  0.602941  1.322406
1963-12-31 23:59:59.999999999  2.46   3264.967   5.6  0.083724 -0.229713
1964-03-31 23:59:59.999999999  0.13   3338.246   5.5  0.616172  0.832934
1964-06-30 23:59:59.999999999  0.90   3376.587   5.2  0.356982 -1.082182
1964-09-30 23:59:59.999999999  1.29   3422.469   5.0 -0.019167  0.617839
1964-12-31 23:59:59.999999999  2.05   3431.957   5.0  0.364541 -0.481519
1965-03-31 23:59:59.999999999  1.28   3516.251   4.9 -0.501469 -1.495238
1965-06-30 23:59:59.999999999  2.54   3563.960   4.7  1.259498 -1.061682
1965-09-30 23:59:59.999999999  0.89   3636.285   4.4  0.817685 -0.266769
1965-12-31 23:59:59.999999999  2.90   3724.014   4.1  0.444192 -2.062154
1966-03-31 23:59:59.999999999  4.99   3815.423   3.9 -1.148682 -0.713436
1966-06-30 23:59:59.999999999  2.10   3828.124   3.8  0.135310  0.694337
...                             ...        ...   ...       ...       ...
2002-06-30 23:59:59.999999999  1.56  11538.770   5.8 -0.981723  0.779303
2002-09-30 23:59:59.999999999  2.66  11596.430   5.7 -0.016343 -0.371805
2002-12-31 23:59:59.999999999  3.08  11598.824   5.8  0.901212  0.432420
2003-03-31 23:59:59.999999999  1.31  11645.819   5.9 -1.226960 -0.252759
2003-06-30 23:59:59.999999999  1.09  11738.706   6.2 -1.169025 -0.262450
2003-09-30 23:59:59.999999999  2.60  11935.461   6.1  0.005525 -0.350461
2003-12-31 23:59:59.999999999  3.02  12042.817   5.8 -1.062802  0.503860
2004-03-31 23:59:59.999999999  2.35  12127.623   5.7  0.373981 -0.681096
2004-06-30 23:59:59.999999999  3.61  12213.818   5.6 -0.208690  0.992320
2004-09-30 23:59:59.999999999  3.58  12303.533   5.4  0.154121  0.131092
2004-12-31 23:59:59.999999999  2.09  12410.282   5.4 -0.785072  1.176397
2005-03-31 23:59:59.999999999  4.15  12534.113   5.3 -0.752790  0.377954
2005-06-30 23:59:59.999999999  1.85  12587.535   5.1 -0.271544  0.761235
2005-09-30 23:59:59.999999999  9.14  12683.153   5.0 -0.537828  0.444142
2005-12-31 23:59:59.999999999  0.40  12748.699   4.9  2.466117 -0.264411
2006-03-31 23:59:59.999999999  2.60  12915.938   4.7  1.557320  0.761066
2006-06-30 23:59:59.999999999  3.97  12962.462   4.7 -1.483665 -1.398557
2006-09-30 23:59:59.999999999 -1.58  12965.916   4.7  0.118815 -0.591576
2006-12-31 23:59:59.999999999  3.30  13060.679   4.4  0.708020 -0.299847
2007-03-31 23:59:59.999999999  4.58  13099.901   4.5 -0.702176 -0.436659
2007-06-30 23:59:59.999999999  2.75  13203.977   4.5  2.641270 -0.694497
2007-09-30 23:59:59.999999999  3.45  13321.109   4.7  0.795938 -1.685620
2007-12-31 23:59:59.999999999  6.38  13391.249   4.8  0.489536 -0.070816
2008-03-31 23:59:59.999999999  2.82  13366.865   4.9  0.191970 -0.365738
2008-06-30 23:59:59.999999999  8.53  13415.266   5.4  0.080363  0.751901
2008-09-30 23:59:59.999999999 -3.16  13324.600   6.0 -1.296895  0.168029
2008-12-31 23:59:59.999999999 -8.79  13141.920   6.9 -2.215306  2.055431
2009-03-31 23:59:59.999999999  0.94  12925.410   8.1 -1.855168 -0.692036
2009-06-30 23:59:59.999999999  3.37  12901.504   9.2 -0.983643  1.271718
2009-09-30 23:59:59.999999999  3.56  12990.341   9.6 -0.256512 -0.737708


item                              unemp
date
1959-03-31 23:59:59.999999999 -0.056217
1959-06-30 23:59:59.999999999  1.479729
1959-09-30 23:59:59.999999999 -0.195506
1959-12-31 23:59:59.999999999 -0.833657
1960-03-31 23:59:59.999999999 -2.030642
1960-06-30 23:59:59.999999999 -0.679853
1960-09-30 23:59:59.999999999 -0.764237
1960-12-31 23:59:59.999999999  0.154461
1961-03-31 23:59:59.999999999  2.517387
1961-06-30 23:59:59.999999999  1.667612
1961-09-30 23:59:59.999999999 -0.050126
1961-12-31 23:59:59.999999999  0.260891
1962-03-31 23:59:59.999999999 -0.512969
1962-06-30 23:59:59.999999999 -1.201311
1962-09-30 23:59:59.999999999  1.274511
1962-12-31 23:59:59.999999999  0.210651
1963-03-31 23:59:59.999999999  2.417207
1963-06-30 23:59:59.999999999  0.969553
1963-09-30 23:59:59.999999999 -0.159979
1963-12-31 23:59:59.999999999  0.346163
1964-03-31 23:59:59.999999999  2.382752
1964-06-30 23:59:59.999999999 -0.479150
1964-09-30 23:59:59.999999999  0.139499
1964-12-31 23:59:59.999999999 -1.688741
1965-03-31 23:59:59.999999999  0.667705
1965-06-30 23:59:59.999999999  0.151293
1965-09-30 23:59:59.999999999  1.264360
1965-12-31 23:59:59.999999999 -0.017713
1966-03-31 23:59:59.999999999  0.341915
1966-06-30 23:59:59.999999999  0.043745
...                                 ...
2002-06-30 23:59:59.999999999 -0.315212
2002-09-30 23:59:59.999999999 -0.401112
2002-12-31 23:59:59.999999999 -1.143368
2003-03-31 23:59:59.999999999 -0.276694
2003-06-30 23:59:59.999999999 -0.767189
2003-09-30 23:59:59.999999999  0.495555
2003-12-31 23:59:59.999999999  2.572285
2004-03-31 23:59:59.999999999 -0.255386
2004-06-30 23:59:59.999999999  0.282898
2004-09-30 23:59:59.999999999  2.200397
2004-12-31 23:59:59.999999999  0.580445
2005-03-31 23:59:59.999999999 -0.187739
2005-06-30 23:59:59.999999999  1.583898
2005-09-30 23:59:59.999999999 -0.460762
2005-12-31 23:59:59.999999999  1.605245
2006-03-31 23:59:59.999999999 -0.630796
2006-06-30 23:59:59.999999999  0.055412
2006-09-30 23:59:59.999999999 -0.856085
2006-12-31 23:59:59.999999999  0.251707
2007-03-31 23:59:59.999999999 -0.894157
2007-06-30 23:59:59.999999999  0.399599
2007-09-30 23:59:59.999999999  0.266243
2007-12-31 23:59:59.999999999  0.920586
2008-03-31 23:59:59.999999999 -0.982773
2008-06-30 23:59:59.999999999  1.210681
2008-09-30 23:59:59.999999999  1.429342
2008-12-31 23:59:59.999999999 -1.062503
2009-03-31 23:59:59.999999999 -0.154806
2009-06-30 23:59:59.999999999  1.071904
2009-09-30 23:59:59.999999999  0.838572

[203 rows x 6 columns]

In [44]:
_data

                             date     item      value    value2
0   1959-03-31 23:59:59.999999999  realgdp   2710.349  1.600323
1   1959-03-31 23:59:59.999999999     infl      0.000  0.402876
2   1959-03-31 23:59:59.999999999    unemp      5.800 -0.056217
3   1959-06-30 23:59:59.999999999  realgdp   2778.801 -0.166095
4   1959-06-30 23:59:59.999999999     infl      2.340 -0.675171
5   1959-06-30 23:59:59.999999999    unemp      5.100  1.479729
6   1959-09-30 23:59:59.999999999  realgdp   2775.488 -1.119352
7   1959-09-30 23:59:59.999999999     infl      2.740 -0.107117
8   1959-09-30 23:59:59.999999999    unemp      5.300 -0.195506
9   1959-12-31 23:59:59.999999999  realgdp   2785.204 -0.514078
10  1959-12-31 23:59:59.999999999     infl      0.270  0.816401
11  1959-12-31 23:59:59.999999999    unemp      5.600 -0.833657
12  1960-03-31 23:59:59.999999999  realgdp   2847.699  0.542121
13  1960-03-31 23:59:59.999999999     infl      2.310 -0.857373
14  1960-03-31 23:59:59.999999999    unemp      5.200 -2.030642
15  1960-06-30 23:59:59.999999999  realgdp   2834.390  0.122232
16  1960-06-30 23:59:59.999999999     infl      0.140 -0.807455
17  1960-06-30 23:59:59.999999999    unemp      5.200 -0.679853
18  1960-09-30 23:59:59.999999999  realgdp   2839.022 -0.320824
19  1960-09-30 23:59:59.999999999     infl      2.700  0.531097
20  1960-09-30 23:59:59.999999999    unemp      5.600 -0.764237
21  1960-12-31 23:59:59.999999999  realgdp   2802.616  0.438377
22  1960-12-31 23:59:59.999999999     infl      1.210 -1.119714
23  1960-12-31 23:59:59.999999999    unemp      6.300  0.154461
24  1961-03-31 23:59:59.999999999  realgdp   2819.264  0.777856
25  1961-03-31 23:59:59.999999999     infl     -0.400 -2.235035
26  1961-03-31 23:59:59.999999999    unemp      6.800  2.517387
27  1961-06-30 23:59:59.999999999  realgdp   2872.005 -0.544282
28  1961-06-30 23:59:59.999999999     infl      1.470  1.981024
29  1961-06-30 23:59:59.999999999    unemp      7.000  1.667612
..                            ...      ...        ...       ...
579 2007-06-30 23:59:59.999999999  realgdp  13203.977 -0.694497
580 2007-06-30 23:59:59.999999999     infl      2.750  2.641270
581 2007-06-30 23:59:59.999999999    unemp      4.500  0.399599
582 2007-09-30 23:59:59.999999999  realgdp  13321.109 -1.685620
583 2007-09-30 23:59:59.999999999     infl      3.450  0.795938
584 2007-09-30 23:59:59.999999999    unemp      4.700  0.266243
585 2007-12-31 23:59:59.999999999  realgdp  13391.249 -0.070816
586 2007-12-31 23:59:59.999999999     infl      6.380  0.489536
587 2007-12-31 23:59:59.999999999    unemp      4.800  0.920586
588 2008-03-31 23:59:59.999999999  realgdp  13366.865 -0.365738
589 2008-03-31 23:59:59.999999999     infl      2.820  0.191970
590 2008-03-31 23:59:59.999999999    unemp      4.900 -0.982773
591 2008-06-30 23:59:59.999999999  realgdp  13415.266  0.751901
592 2008-06-30 23:59:59.999999999     infl      8.530  0.080363
593 2008-06-30 23:59:59.999999999    unemp      5.400  1.210681
594 2008-09-30 23:59:59.999999999  realgdp  13324.600  0.168029
595 2008-09-30 23:59:59.999999999     infl     -3.160 -1.296895
596 2008-09-30 23:59:59.999999999    unemp      6.000  1.429342
597 2008-12-31 23:59:59.999999999  realgdp  13141.920  2.055431
598 2008-12-31 23:59:59.999999999     infl     -8.790 -2.215306
599 2008-12-31 23:59:59.999999999    unemp      6.900 -1.062503
600 2009-03-31 23:59:59.999999999  realgdp  12925.410 -0.692036
601 2009-03-31 23:59:59.999999999     infl      0.940 -1.855168
602 2009-03-31 23:59:59.999999999    unemp      8.100 -0.154806
603 2009-06-30 23:59:59.999999999  realgdp  12901.504  1.271718
604 2009-06-30 23:59:59.999999999     infl      3.370 -0.983643
605 2009-06-30 23:59:59.999999999    unemp      9.200  1.071904
606 2009-09-30 23:59:59.999999999  realgdp  12990.341 -0.737708
607 2009-09-30 23:59:59.999999999     infl      3.560 -0.256512
608 2009-09-30 23:59:59.999999999    unemp      9.600  0.838572

[609 rows x 4 columns]

In [45]:
_data.set_index(['date','item']).unstack('item')

                              value                     value2            \
item                           infl    realgdp unemp      infl   realgdp
date
1959-03-31 23:59:59.999999999  0.00   2710.349   5.8  0.402876  1.600323
1959-06-30 23:59:59.999999999  2.34   2778.801   5.1 -0.675171 -0.166095
1959-09-30 23:59:59.999999999  2.74   2775.488   5.3 -0.107117 -1.119352
1959-12-31 23:59:59.999999999  0.27   2785.204   5.6  0.816401 -0.514078
1960-03-31 23:59:59.999999999  2.31   2847.699   5.2 -0.857373  0.542121
1960-06-30 23:59:59.999999999  0.14   2834.390   5.2 -0.807455  0.122232
1960-09-30 23:59:59.999999999  2.70   2839.022   5.6  0.531097 -0.320824
1960-12-31 23:59:59.999999999  1.21   2802.616   6.3 -1.119714  0.438377
1961-03-31 23:59:59.999999999 -0.40   2819.264   6.8 -2.235035  0.777856
1961-06-30 23:59:59.999999999  1.47   2872.005   7.0  1.981024 -0.544282
1961-09-30 23:59:59.999999999  0.80   2918.419   6.8  0.781692  0.617027
1961-12-31 23:59:59.999999999  0.80   2977.830   6.2 -1.630180 -0.683519
1962-03-31 23:59:59.999999999  2.26   3031.241   5.6  0.392595  0.823376
1962-06-30 23:59:59.999999999  0.13   3064.709   5.5  0.449169 -0.943460
1962-09-30 23:59:59.999999999  2.11   3093.047   5.6 -1.160079 -1.074853
1962-12-31 23:59:59.999999999  0.79   3100.563   5.5 -1.050788 -0.192955
1963-03-31 23:59:59.999999999  0.53   3141.087   5.8 -1.115742  0.345132
1963-06-30 23:59:59.999999999  2.75   3180.447   5.7  0.529276 -0.413235
1963-09-30 23:59:59.999999999  0.78   3240.332   5.5  0.602941  1.322406
1963-12-31 23:59:59.999999999  2.46   3264.967   5.6  0.083724 -0.229713
1964-03-31 23:59:59.999999999  0.13   3338.246   5.5  0.616172  0.832934
1964-06-30 23:59:59.999999999  0.90   3376.587   5.2  0.356982 -1.082182
1964-09-30 23:59:59.999999999  1.29   3422.469   5.0 -0.019167  0.617839
1964-12-31 23:59:59.999999999  2.05   3431.957   5.0  0.364541 -0.481519
1965-03-31 23:59:59.999999999  1.28   3516.251   4.9 -0.501469 -1.495238
1965-06-30 23:59:59.999999999  2.54   3563.960   4.7  1.259498 -1.061682
1965-09-30 23:59:59.999999999  0.89   3636.285   4.4  0.817685 -0.266769
1965-12-31 23:59:59.999999999  2.90   3724.014   4.1  0.444192 -2.062154
1966-03-31 23:59:59.999999999  4.99   3815.423   3.9 -1.148682 -0.713436
1966-06-30 23:59:59.999999999  2.10   3828.124   3.8  0.135310  0.694337
...                             ...        ...   ...       ...       ...
2002-06-30 23:59:59.999999999  1.56  11538.770   5.8 -0.981723  0.779303
2002-09-30 23:59:59.999999999  2.66  11596.430   5.7 -0.016343 -0.371805
2002-12-31 23:59:59.999999999  3.08  11598.824   5.8  0.901212  0.432420
2003-03-31 23:59:59.999999999  1.31  11645.819   5.9 -1.226960 -0.252759
2003-06-30 23:59:59.999999999  1.09  11738.706   6.2 -1.169025 -0.262450
2003-09-30 23:59:59.999999999  2.60  11935.461   6.1  0.005525 -0.350461
2003-12-31 23:59:59.999999999  3.02  12042.817   5.8 -1.062802  0.503860
2004-03-31 23:59:59.999999999  2.35  12127.623   5.7  0.373981 -0.681096
2004-06-30 23:59:59.999999999  3.61  12213.818   5.6 -0.208690  0.992320
2004-09-30 23:59:59.999999999  3.58  12303.533   5.4  0.154121  0.131092
2004-12-31 23:59:59.999999999  2.09  12410.282   5.4 -0.785072  1.176397
2005-03-31 23:59:59.999999999  4.15  12534.113   5.3 -0.752790  0.377954
2005-06-30 23:59:59.999999999  1.85  12587.535   5.1 -0.271544  0.761235
2005-09-30 23:59:59.999999999  9.14  12683.153   5.0 -0.537828  0.444142
2005-12-31 23:59:59.999999999  0.40  12748.699   4.9  2.466117 -0.264411
2006-03-31 23:59:59.999999999  2.60  12915.938   4.7  1.557320  0.761066
2006-06-30 23:59:59.999999999  3.97  12962.462   4.7 -1.483665 -1.398557
2006-09-30 23:59:59.999999999 -1.58  12965.916   4.7  0.118815 -0.591576
2006-12-31 23:59:59.999999999  3.30  13060.679   4.4  0.708020 -0.299847
2007-03-31 23:59:59.999999999  4.58  13099.901   4.5 -0.702176 -0.436659
2007-06-30 23:59:59.999999999  2.75  13203.977   4.5  2.641270 -0.694497
2007-09-30 23:59:59.999999999  3.45  13321.109   4.7  0.795938 -1.685620
2007-12-31 23:59:59.999999999  6.38  13391.249   4.8  0.489536 -0.070816
2008-03-31 23:59:59.999999999  2.82  13366.865   4.9  0.191970 -0.365738
2008-06-30 23:59:59.999999999  8.53  13415.266   5.4  0.080363  0.751901
2008-09-30 23:59:59.999999999 -3.16  13324.600   6.0 -1.296895  0.168029
2008-12-31 23:59:59.999999999 -8.79  13141.920   6.9 -2.215306  2.055431
2009-03-31 23:59:59.999999999  0.94  12925.410   8.1 -1.855168 -0.692036
2009-06-30 23:59:59.999999999  3.37  12901.504   9.2 -0.983643  1.271718
2009-09-30 23:59:59.999999999  3.56  12990.341   9.6 -0.256512 -0.737708


item                              unemp
date
1959-03-31 23:59:59.999999999 -0.056217
1959-06-30 23:59:59.999999999  1.479729
1959-09-30 23:59:59.999999999 -0.195506
1959-12-31 23:59:59.999999999 -0.833657
1960-03-31 23:59:59.999999999 -2.030642
1960-06-30 23:59:59.999999999 -0.679853
1960-09-30 23:59:59.999999999 -0.764237
1960-12-31 23:59:59.999999999  0.154461
1961-03-31 23:59:59.999999999  2.517387
1961-06-30 23:59:59.999999999  1.667612
1961-09-30 23:59:59.999999999 -0.050126
1961-12-31 23:59:59.999999999  0.260891
1962-03-31 23:59:59.999999999 -0.512969
1962-06-30 23:59:59.999999999 -1.201311
1962-09-30 23:59:59.999999999  1.274511
1962-12-31 23:59:59.999999999  0.210651
1963-03-31 23:59:59.999999999  2.417207
1963-06-30 23:59:59.999999999  0.969553
1963-09-30 23:59:59.999999999 -0.159979
1963-12-31 23:59:59.999999999  0.346163
1964-03-31 23:59:59.999999999  2.382752
1964-06-30 23:59:59.999999999 -0.479150
1964-09-30 23:59:59.999999999  0.139499
1964-12-31 23:59:59.999999999 -1.688741
1965-03-31 23:59:59.999999999  0.667705
1965-06-30 23:59:59.999999999  0.151293
1965-09-30 23:59:59.999999999  1.264360
1965-12-31 23:59:59.999999999 -0.017713
1966-03-31 23:59:59.999999999  0.341915
1966-06-30 23:59:59.999999999  0.043745
...                                 ...
2002-06-30 23:59:59.999999999 -0.315212
2002-09-30 23:59:59.999999999 -0.401112
2002-12-31 23:59:59.999999999 -1.143368
2003-03-31 23:59:59.999999999 -0.276694
2003-06-30 23:59:59.999999999 -0.767189
2003-09-30 23:59:59.999999999  0.495555
2003-12-31 23:59:59.999999999  2.572285
2004-03-31 23:59:59.999999999 -0.255386
2004-06-30 23:59:59.999999999  0.282898
2004-09-30 23:59:59.999999999  2.200397
2004-12-31 23:59:59.999999999  0.580445
2005-03-31 23:59:59.999999999 -0.187739
2005-06-30 23:59:59.999999999  1.583898
2005-09-30 23:59:59.999999999 -0.460762
2005-12-31 23:59:59.999999999  1.605245
2006-03-31 23:59:59.999999999 -0.630796
2006-06-30 23:59:59.999999999  0.055412
2006-09-30 23:59:59.999999999 -0.856085
2006-12-31 23:59:59.999999999  0.251707
2007-03-31 23:59:59.999999999 -0.894157
2007-06-30 23:59:59.999999999  0.399599
2007-09-30 23:59:59.999999999  0.266243
2007-12-31 23:59:59.999999999  0.920586
2008-03-31 23:59:59.999999999 -0.982773
2008-06-30 23:59:59.999999999  1.210681
2008-09-30 23:59:59.999999999  1.429342
2008-12-31 23:59:59.999999999 -1.062503
2009-03-31 23:59:59.999999999 -0.154806
2009-06-30 23:59:59.999999999  1.071904
2009-09-30 23:59:59.999999999  0.838572

[203 rows x 6 columns]