In [1]:
import numpy as np
import pandas as pd
import import_ipynb
from utils import show

importing Jupyter notebook from utils.ipynb

In [14]:
def lst(data):
    single_return = np.diff(np.concatenate(([1],data)))
    iszero = np.concatenate(([0],np.greater(single_return,0).view(np.int8),[0]))
    absdiff = np.abs(np.diff(iszero))
    _lst_range = np.where(absdiff==1)[0].reshape(-1,2) - 1
    lst_range = np.where(_lst_range>=0,_lst_range,0)
    return lst_range

In [18]:
df = pd.DataFrame(np.random.uniform(0.,2.5,(20,5)),columns=list('ABCDE')).cumprod(axis=0)
df

           A         B         C         D          E
0   1.199828  2.043816  1.721887  1.722810   2.214728
1   2.459008  1.523700  3.455415  3.712589   3.293699
2   5.924291  0.387365  1.376898  1.403754   5.149254
3   0.481204  0.701722  1.872643  0.219835  11.162846
4   1.202077  0.247894  0.405614  0.016484   3.791644
5   2.089557  0.251637  0.359882  0.020791   3.961062
6   1.705629  0.150221  0.618245  0.045791   6.043930
7   1.086066  0.249518  0.513900  0.034360   5.325493
8   0.834301  0.406471  0.296556  0.055216   0.767665
9   0.298757  0.837857  0.415983  0.000931   1.596090
10  0.198088  0.283629  0.954222  0.000337   3.468271
11  0.046968  0.549201  1.192405  0.000749   6.719380
12  0.086989  0.954487  0.072412  0.000981  10.112903
13  0.177587  0.024823  0.125300  0.000991   6.433263
14  0.376101  0.028852  0.170249  0.000455   9.523093
15  0.896067  0.029773  0.369289  0.000474   2.484041
16  1.444737  0.005927  0.157954  0.000337   3.931138
17  1.893163  0.004162  0.076634  0.000137   3.952597
18  2.263383  0.006507  0.065038  0.000326   9.625500
19  1.820120  0.011735  0.006976  0.000376  21.167585

In [19]:
rst = []
for i,data in enumerate(df.T.values):
    fundname = df.columns[i]
    #print(fundname)
    #rst.append(pd.DataFrame(lst(data),columns=[[fundname,fundname],['start','end']]))
    single_rst = lst(data)
    rst.append(pd.DataFrame(single_rst,columns=[[fundname,fundname],['start','end']]))

In [20]:
result = pd.concat(rst,axis=1,join='outer')
result

      A           B         C           D           E
  start   end start end start   end start   end start   end
0   0.0   2.0     0   0   0.0   1.0   0.0   1.0   0.0   3.0
1   3.0   5.0     2   3   2.0   3.0   4.0   6.0   4.0   6.0
2  11.0  18.0     4   5   5.0   6.0   7.0   8.0   8.0  12.0
3   NaN   NaN     6   9   8.0  11.0  10.0  13.0  13.0  14.0
4   NaN   NaN    10  12  12.0  15.0  14.0  15.0  15.0  19.0
5   NaN   NaN    13  15   NaN   NaN  17.0  19.0   NaN   NaN
6   NaN   NaN    17  19   NaN   NaN   NaN   NaN   NaN   NaN

In [25]:
result['A'].diff(axis=1)['end'].dropna()

0    2.0
1    2.0
2    7.0
Name: end, dtype: float64

In [ ]:
for fundname in list('ABCDE'):
    result[fundname]['LEN'] = result[fundname]['end'] - result[fundname]['start'] + 1
result

In [ ]:
lst_range['LEN'] = lst_range[1] - lst_range[0]
lst_range

In [ ]:
cum_pda

In [ ]:
_start,_end, nums = lst_range.loc[np.argmax(lst_range['LEN'])]
print(_start,_end, nums)
end = _end - 1
if _start == 0:
    start = 0
    max_return = cum_a[end]-1
else:
    start = _start
    max_return = cum_a[end] / cum_a[start] - 1
    print('max-return:',max_return)

nianhua = np.power((1+max_return),(12 / nums)) - 1
print('nianhua:',nianhua)

In [ ]:
cum_pda[2042:2057]

In [ ]:
nianhua =